[submodule "Carthage/Checkouts/OHHTTPStubs"]
	path = Carthage/Checkouts/OHHTTPStubs
	url = ssh://git@github.com/AliSoftware/OHHTTPStubs.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = ssh://git@github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/filestack-swift"]
	path = Carthage/Checkouts/filestack-swift
	url = ssh://git@github.com/Holonis/filestack-swift.git
[submodule "Carthage/Checkouts/CryptoSwift"]
	path = Carthage/Checkouts/CryptoSwift
	url = ssh://git@github.com/krzyzanowskim/CryptoSwift.git
[submodule "Carthage/Checkouts/ZipArchive"]
	path = Carthage/Checkouts/ZipArchive
	url = ssh://git@github.com/ZipArchive/ZipArchive.git
